{% trans_default_domain 'admin' %}

{% if 'newsletter'|moduleActive(allModules) %}

    {% set uri = app.request.uri %}
    {% set active = '/newsletters/' in uri %}
    {% set module = 'newsletter'|moduleActive(allModules, true) %}
    {% set i18n = i18nsModules['newsletter'][app.user.locale] is defined ? i18nsModules['newsletter'][app.user.locale] : i18nsModules['newsletter']['fr'] %}
    {% set title = i18n.placeholder is defined and i18n.placeholder|striptags|length > 0 ? i18n.placeholder : i18nsModules['newsletter']['entity'].adminName %}

    <li{% if active %} class="active"{% endif %}>
        <a href="{{ path('admin_campaign_index', { "website": websiteId }) }}" data-toggle="preloader">
            {{ i18nsModules['newsletter']['entity'].iconClass|iconHtml({'width': 17, 'height': 15, 'class': 'white mr-3'}) }}{{ title|raw }}
        </a>
    </li>

{% endif %}