.idea/
.idea/workspace.xml
/nbproject/
/.env
/.env.local
/.env.test
/var/*
/config/secrets/prod/prod.decrypt.private.php

/vendor/cms/faker/.git
/vendor/cms/phone-number-bundle/.git

/translations/*

**/Entity/*~

/changes/
changes.zip
changes.rar

/node_modules/*
/SnoreToast/*
/bin/export/*
/public/thumbnails/*
/public/uploads/*
/public/bundles/*
/public/js/*
/public/medias/webp/*
/uploads

/public/build/*
!public/build/init

!public/uploads/tmp/
!public/uploads/users/

/public/uploads/users/*
!public/uploads/users/customer.png
!public/uploads/users/translator.png
!public/uploads/users/webmaster.svg

!public/build/.htaccess
!public/build/admin/.htaccess
!public/bundles/.htaccess
!public/js/.htaccess
!public/thumbnails/.htaccess
!public/uploads/.htaccess

!.gitkeep
!var/.gitkeep
!bin/export/.gitkeep
!src/Module/.gitkeep
!translations/.gitkeep
!public/uploads/.gitkeep

npm-debug.log
yarn-error.log

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
.phpunit.result.cache
###< symfony/phpunit-bridge ###