{% trans_default_domain 'front_default' %}

{% if entities %}

    {% set mainPages = website.configuration|mainPages %}
    {% set productsPage = mainPages['nos-produits'] is defined ? mainPages['nos-produits'] : null %}
    {% set productsPageUrl = website|i18nUrl(productsPage) %}

    <div class="catalog-teaser splide mt-5"
         data-items="4"
         data-items-mini-pc="3"
         data-items-tablet="2"
         data-items-mobile="1"
         data-fade="loop"
         data-scroll="1"
         data-pause="1"
         data-autoplay="1"
         data-arrows="1"
         data-dots="0"
         data-interval="1500">
        <div class="splide__track">
            <ul class="splide__list">
                {% for entity in entities %}
                    {% set mediaRelation = entity|mainMedia %}
                    {% set mediaConfig = mediaRelation|thumbConfiguration(thumbConfiguration, true) %}
                    {% set i18n = entity|i18n %}
                    {% set title = i18n.title is defined and i18n.title ? i18n.title : entity.adminName %}
                    <li class="splide__slide">
                        <a href="{{ path('front_index', {'url': productsPageUrl, 'category': entity.slug}) }}" class="card ms-3 me-3">
                            {{ mediaRelation|thumb(mediaConfig, {
                                "btn_link": false,
                                'popupGallery': false,
                                'fullPopup': false,
                                'placeholder': true,
                                'lazyLoad': true,
                                'class': 'w-100' }) }}
                            <h3 class="title text-dark mt-3 mb-0 fw-300">{{ title|raw }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endif %}