{% trans_default_domain 'front_default' %}

{% if contact %}

    <!-- .form-success-card -->
    <div class="form-success-card card bg-light form-success-card">
        <!-- .card-body -->
        <div class="card-body pb-4 text-center">
            {{ 'fas fa-check'|fontawesome(null, 60, 'primary') }}
            <div class="body mt-4 mb-3">{{ message|raw }}</div>
        </div>
        <!-- \.card-body -->
    </div>
    <!-- /.form-success-card -->

{% else %}

    <a href="{{ path('front_index') }}" class="btn btn-primary" data-toggle="preloader">{{ emt("Retourner à la page d'accueil"|trans|raw) }}</a>

{% endif %}