{% trans_default_domain 'front_default' %}

{% set customTemplate = 'front/' ~ websiteTemplate ~ '/actions/faq/template/' ~ faq.slug ~ '.html.twig' %}
{% set customTemplateExist = (customTemplate)|fileExist %}
{% set template = customTemplateExist
    ? 'front/' ~ websiteTemplate ~ '/actions/faq/template/' ~ faq.slug ~ '.html.twig'
    : 'front/' ~ websiteTemplate ~ '/actions/faq/template/default.html.twig' %}

<!-- .faq-container -->
<div id="faq-container-{{ faq.slug }}" class="faq-container position-relative">

    {% include 'core/webmaster-edit.html.twig' with {
        'title': "Éditer la FAQ"|trans([], 'front_webmaster'),
        'role': 'ROLE_FAQ',
        'path': path('admin_faqquestion_index', {'website': website.id, 'faq': faq.id})
    } only %}

    {% include template %}

</div>
<!-- \.faq-container -->