{% trans_default_domain 'front_default' %}

{% set customTemplate = 'front/' ~ websiteTemplate ~ '/actions/form/form/' ~ entity.slug ~ '.html.twig' %}
{% set customTemplateExist = (customTemplate)|fileExist %}
{% set formTemplate = customTemplateExist ? customTemplate : 'front/' ~ websiteTemplate ~ '/actions/form/form/default.html.twig' %}

{% set hasLayout = true %}
{% set template = 'front/' ~ websiteTemplate ~ '/actions/form/include/elements.html.twig' %}
{% set messages = app.session.flashbag.all %}
{% set modalId = "form-thanks-modal-" ~ entity.id %}
{% set contactsLength = entity.contacts|length %}
{% set maxShipments = configuration.maxShipments %}
{% set urlRedirectionI18n = website|i18nUrl(configuration.pageRedirection) %}
{% set urlRedirection = urlRedirectionI18n ? path('front_index', {'url': urlRedirectionI18n}) : null %}
{% set publicationEnd = configuration.publicationEnd ? configuration.publicationEnd : null %}
{% set inDeltaDate = not publicationEnd or 'now'|datetime <= publicationEnd %}
{% set dispalyForm = not maxShipments and inDeltaDate or contactsLength < maxShipments and inDeltaDate  %}

{% set formClass = 'form' %}
{% if configuration.ajax %}
    {% set formClass = 'form-ajax' %}
{% endif %}
{% if configuration.recaptcha %}
    {% set formClass = formClass ~ ' security' %}
{% endif %}

<!-- .form-container -->
<div id="form-container-{{ entity.slug }}" class="form-container keep-form-module position-relative{% if configuration.recaptcha %} recaptcha-referer{% endif %}">

    {% include 'core/webmaster-edit.html.twig' with {
        'title': "Éditer le formulaire"|trans([], 'front_webmaster'),
        'role': 'ROLE_FORM',
        'path': path('admin_form_layout', {'website': website.id, 'form': entity.id})
    } only %}

    {% include formTemplate %}

</div>
<!-- \.form-container -->

{% if configuration.thanksModal %}
    {% set i18n = entity|i18n %}
    {% set modalMessage = i18n ? i18n.placeholder : emt("Merci pour votre message !!"|trans|raw) %}
    {% include 'front/' ~ websiteTemplate ~ '/include/thanks-modal.html.twig' %}
{% endif %}