{% trans_default_domain 'admin' %}

{% if 'navigation'|moduleActive(allModules) or is_granted('ROLE_INTERNAL') %}

    {% set uri = app.request.uri %}
    {% set module = 'navigation'|moduleActive(allModules, true) %}
    {% set i18n = i18nsModules['navigation'][app.user.locale] is defined ? i18nsModules['navigation'][app.user.locale] : i18nsModules['navigation']['fr'] %}
    {% set title = i18n.placeholder is defined and i18n.placeholder|striptags|length > 0 ? i18n.placeholder : i18nsModules['navigation']['entity'].adminName %}

    <li{% if '/menus/' in uri %} class="active"{% endif %}>
        <a href="{{ path('admin_menu_index', {"website": websiteId}) }}" data-toggle="preloader">
            {{ i18nsModules['navigation']['entity'].iconClass|iconHtml({'width': 13, 'height': 15, 'class': 'white mr-3'}) }}{{ title|raw }}
        </a>
    </li>

{% endif %}