@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2019
    Created on : 2021-03-15, 5:11 PM
    Author     : Sébastien FOURNIER <contact@sebastien-fournier.com>

    FRONT VIDEOS COMPONENTS :
    =========================

------------------------------------------------------------------ */

.video-fluid {
    max-width: 100%;
}

.video-block-html .sound-control {
    z-index: 9999;
    bottom: 25px;
    right: 25px;
    height: 40px;
    width: 40px;
}