{% trans_default_domain 'gdpr' %}

<div class="block-video ratio ratio-16x9">
    <iframe data-src="{{ embed }}"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
            class="lazyload embed-responsive-item"
            allowfullscreen="1"
            allow="autoplay; encrypted-media"></iframe>
</div>