@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2019
    Created on : 2019-10-09, 8:55 PM
    Author     : Sébastien FOURNIER <contact@sebastien-fournier.com>

    TEMPLATE LEGACY :
    =================

    1 ) Import
    2 ) Core

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Import
-----------------------------------*/

@import "../utilities/mixins";
@import "../variables";
@import "../components/page";

/*-----------------------------------
   2 ) Core
-----------------------------------*/

#legacy-body {

    #body-page {
        padding-bottom: 0 !important;
    }

    .text-block {

        * {
            font-size: $font-size-base !important;
        }

        .bold {
            font-weight: $font-weight-bold !important;
        }

        h2 {

            color: #333 !important;
            font-size: rem(23px) !important;
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;

            a {
                text-transform: initial !important;
            }
        }

        h3 {
            color: #333 !important;
            font-size: rem(17px) !important;
            margin-top: 1rem !important;
            margin-bottom: 0.5rem !important;
            text-transform: initial !important;
        }

        a {

            white-space: normal;
            word-wrap: break-word;

            &.webmaster-link-edit {
                display: none;
            }
        }

        ul {
            padding-left: 15px;
        }

        p {
            font-weight: normal !important;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}