{% trans_default_domain 'front_default' %}

<!-- #content-exception -->
<div id="content-exception" class="template-page col-lg-12">

    <!-- #exception-block -->
    <section id="exception-block" class="mb-5">
        <div id="errorStatus">
            <div class="errorStatus">
                <div class="errorStatus-code"></div>
                {% include 'bundles/TwigBundle/Exception/messages.html.twig' %}
                <a href="{{ app.request.getSchemeAndHttpHost() }}" class="btn btn-outline-primary hbtn hb-fill-right back-to-home mt-4">
                    {{ emt("Retourner sur la page d'accueil"|trans) }}
                </a>
            </div>
        </div>
    </section>
    <!-- \#exception-block -->

    <!-- .exception-sitemap -->
    <section id="exception-sitemap" class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title mb-0">{{ emt("Plan de site"|trans) }}</h2>
                <div class="mt-4 mb-4 mt-lg-5 mb-lg-5">
                    {{ render_esi(controller('App\\Controller\\Front\\Action\\SitemapController::view', { 'website': websiteId() } )) }}
                </div>
            </div>
        </div>
    </section>
    <!-- \.exception-sitemap -->

</div>
<!-- \#content-exception -->