@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2019-09-30, 10:47 AM
    Author     : Sébastien FOURNIER <contact@sebastien-fournier.com>

    DEVELOPMENT :
    ============

    1 ) Variables
    2 ) Logs
    3 ) Commands

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Variables
-----------------------------------*/

@import '../variables';

/*-----------------------------------
   2 ) Logs
-----------------------------------*/

#log-page {
    .log-card {
        .card-body {
            font-size: 12px;
        }
    }
}

/*-----------------------------------
   3 ) Commands
-----------------------------------*/

#command-page .console_log_container {
    height: 75vh;
}