{% trans_default_domain 'front_default' %}

<div class="box18" data-component="hover-effect">

    {% block media %}{% endblock %}

    <div class="box-content">

        {% if imageTitle is defined and imageTitle is not empty %}
            <h2 class="title col-12">{{ imageTitle|unescape|raw }}</h2>
        {% endif %}

        <span class="post">
            {% include 'front/' ~ websiteTemplate ~ '/include/hovereffect/buttons.html.twig' %}
        </span>

    </div>

</div>