{% trans_default_domain 'front_default' %}

<div class="box17" data-component="hover-effect">

    {% block media %}{% endblock %}

    {% include 'front/' ~ websiteTemplate ~ '/include/hovereffect/buttons.html.twig' %}

    <div class="box-content">
        {% if imageTitle is defined and imageTitle is not empty %}
            <h2 class="title col-12">{{ imageTitle|unescape|raw }}</h2>
        {% endif %}
    </div>

</div>