<!-- #recaptcha -->
<div id="recaptcha" class="d-none">
    <span class="logo cursor">
        <img src="{{ asset('build/vendor/images/felix-captcha.svg', 'vendor') }}"
             width="65"
             height="74"
             class="img-fluid lazyload"
             alt="Agence Félix"
             title="Agence Félix" />
    </span>
    <div class="content">
        <div class="w-100 float-start">
            <span class="d-inline-block w-100">CAPTCHA protection</span>
        </div>
        <div class="w-100 float-start">
            <a href="https://www.felix-creation.fr/" target="_blank" rel="noopener noreferrer">Agence Félix</a>
        </div>
    </div>
</div>
<!-- /#recaptcha -->